$mc: #F5EFE8;

.MainVisual {
	position: relative;

	.MainSlider {
		figure>img{
		width: 100vw; height: 100vh; object-fit: cover;}}
	.slogan {
		position: absolute; inset: 50% auto auto 50%; transform: translate(-50%,-50%); z-index: 2; color: $mc; font-size: 120px; text-align: center; font-weight: 900;

		h2>span { font-family: 'Cormorant Infant', serif; font-size: 150px; font-weight: 1, 500; }
		img { position: absolute; inset: 40% auto auto 25%; transform: translate(-50%,-50%); }
	}
	a { font-size: 15px; font-weight: 300; padding: 10px 30px; border: 1px solid $mc; border-radius: 30px; position: absolute; inset: auto auto 150px 50% ; transform: translate(-50%,-50%); backdrop-filter: blur(10px); z-index: 2; color: $mc; }
}
.MainContent {


	.con {
		padding: 100px 0; width: calc(1420px + (100% - 1420px)/2); margin: 0 0 0 auto; display: flex; gap: 20px;

		img { margin: 0 0 30px 0; }
		h2 { font-size: 35px; font-family: 'Cormorant Infant', serif; margin: 0 0 20px 0; }
		p { font-size: 15px; margin: 0 0 30px 0; }
		a { border: 1px solid #444; display: inline-block; font-size: 15px; font-weight: 300; padding: 10px 30px; border-radius: 30px; }
	}
	.fixed {
		padding: 400px 0; position: relative; background: url(../../public/assets/images/main_fixed.png)no-repeat fixed center/cover;

		.fix_con {
			position: relative;

			img { position: absolute; inset: 50% auto auto 50%; transform: translate(-50%, -50%); }
			.des { position: absolute; inset: 50% auto auto 50%; transform: translate(-50%, -50%); font-size: 170px; font-family: 'Cormorant Infant', serif; color: $mc; font-weight: 600; }
		}
	}
	.Place {
		padding: 100px 0; width: calc(1420px + (100% - 1420px)/2); margin: 0 0 0 auto;

		>h2 { font-size: 35px; font-family: 'Cormorant Infant', serif; margin: 0 0 20px 0; }
		>p { font-size: 15px; margin: 0 0 30px 0; }
		.des {
			position: absolute; bottom: 50px; left: 50px; color: $mc; white-space: pre;

			h2 { font-size: 35px; font-family: 'Cormorant Infant', serif; margin: 0 0 20px 0; }
			p { font-size: 15px; }
		}
	}
}
.Explore {
	background: black; color: $mc;

	h2 { font-size: 35px; font-family: 'Cormorant Infant', serif; margin: 0 0 20px 0; }
	p { font-size: 15px; margin: 0 0 50px 0; }
	a { border: 1px solid $mc; display: inline-block; font-size: 15px; font-weight: 300; padding: 10px 30px; border-radius: 30px; }
	.circle {
		padding: 150px 0; display: flex;

		.circle_slide { flex: 5; margin-right: 200px; }
		.des { flex: 5; padding: 200px 0; }
	}
	.Ex_fixed { background: url(../../public/assets/images/sub01_fixed.png)no-repeat fixed center/cover; height: 600px; }
	.Garden {
		padding: 100px 0;

		a { margin: 0 0 50px 0; }
		.exe { display: flex; gap: 20px; }
	}
}
.What {
	background: $mc;

	h2 { font-size: 35px; font-family: 'Cormorant Infant', serif; margin: 0 0 20px 0; }
	p { font-size: 15px; margin: 0 0 50px 0; }
	.Exhibit {
		padding: 100px 0;

		.itm01 {
			margin: 0 0 20px 0; position: relative; color: $mc;

			.des_ {
				position: absolute; bottom: 50px; left: 50px;

				h2 { margin: 0 0 10px 0; }
				p { margin: 0 0 20px 0; }
				span { line-height: 1.45; }
			}
		}
		.itm {
			position: relative;

			.des {
				position: absolute; bottom: 50px; left: 50px;

				h2 { margin: 0 0 10px 0; }
				p { margin: 0 0 20px 0; }
				span { line-height: 1.45; }
			}
		}
		.thmb { display: flex; gap: 20px; color: $mc; margin: 0 0 100px 0; }
	}
	.buy {
		text-align: center;

		a { border: 1px solid #444; display: inline-block; font-size: 15px; font-weight: 300; padding: 10px 30px; border-radius: 30px; }
	}
}
.SubPlace {
	background: black; color: $mc;

	>.inner {
		padding: 150px 0;

		h2 { font-size: 60px; font-family: 'Cormorant Infant', serif; margin: 0 0 30px 0; }
		p { margin: 0 0 50px 0; }
	}
	.Place_ve {
		display: flex; gap: 40px; flex-direction: column;

		.sec {
			position: relative;

			.sec_des {
				position: absolute; bottom: 30%; left: calc((100% - 1420px)/2) ;

				h3 { font-size: 80px; font-family: 'Cormorant Infant', serif; margin: 0 0 30px 0; }
			}
		}
		.thrd {
			position: relative;

			.thrd_des {
				position: absolute; bottom: 30%; right: calc((100% - 1420px)/2) ; text-align: right;

				h3 { font-size: 80px; font-family: 'Cormorant Infant', serif; margin: 0 0 30px 0; }
			}
		}
	}
	.Story {
		padding: 100px 0; text-align: center;

		h3 { font-size: 50px; font-family: 'Cormorant Infant', serif; margin: 0 0 50px 0; color: rgb(245, 239, 232,0.3); 
        >span{color: $mc; font-weight: 600;}
        }
        a{border: 1px solid $mc; display: inline-block; font-size: 15px; font-weight: 300; padding: 10px 30px; border-radius: 30px;}
	}
}